header{
	.box-header-bg{
		background: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		.hotline-label{
			text-transform: uppercase;
			color: #FE4B4E;
			font-family: $f_bold;
		}
		.hotline-real{
			.hotline-real2{
				color: #FE4B4E;
				font-family: $f_bold;
				margin-left: 5px;
			}
			.phone-square{
				font-weight: bold;
				color: #FE4B4E;
			}
		}
		.hotline-mailto{
			.envelope{
				color: #FE4B4E;
			}
			a{
				color: #FE4B4E;
				font-family:$f_bold;
			}
		}
		.tim-kiem-sp{
			position: relative;
			margin-top: 10px;
			.tim-kiem-txt{
				input{
					outline: 0;
					border: 1px solid #ddd;
					padding:10px 10px;
					width: 100%;
					font-size: 12px;
				}
			}
			.btn-search-product{
				position: absolute;
				right: 12px;
				top: 0;
				padding: 9px 0px;
				a{
					display: block;
				}
			}
		}
		.ddsmoothmenu{
			background: $mau_1;
			border-radius: 10px 10px 0 0;
		}
	}
}
.box-index{
	background: #fff;
	.banner-box{
		.owl-carousel-banner{
			.owl-dots {
				position: absolute;
				bottom: 20px;
				left: 0;
				width: 100%;
				.owl-dot{
					span{
						width: 17px;
						height: 7px;
					}
					&:hover{
						span{
							background: $mau_1;
						}
					}
				}
				.owl-dot.active{
					span{
						background: $mau_1;
					}
				}
			}
		}
	}
	.box-dmsp{
		.dmsp-h{

		}
		.dmsp-lst{

		}
	}
}