.ddsmoothmenu{
  ul{
    li{
      ul{
        li{
          a{
            font-family:$f_light;
            font-size: 14px;
            text-transform: uppercase;
            background-color: $mau_1;
            &:link,&:visited{
              color: #fff;
            }
          }
        }
      }
    }
  }
  >ul{
    >li{
      >a{
        font-family:$f_light;
        font-size: 14px;
        text-transform: uppercase;
        background: transparent;
        padding: 12px 15px;
        border-right: 0;
        background-image: url('../images/bg_sep_menu.png');
        background-repeat: no-repeat;
        background-position:right center;
        @media(max-width: 1024px){
          padding: 40px 10px;
          font-size: 12px;
        }
        &:link,&:visited{
          color: #fff;
        }
        &:hover,&.selected{
          color: #fff;
          background: #fcee1f;
          color: $mau;
          background-image: url('../images/bg_sep_menu.png') !important;
          background-repeat: no-repeat;
          background-position:right center;
        }
      }
      &.current-menu-item{
        >a{
          background:transparent;
          color: #fcee1f;
          background-image: url('../images/bg_sep_menu.png');
          background-repeat: no-repeat;
          background-position:right center;
        }
      }
    }
  }
  >ul{
    >li{
      >ul{
        margin-top: 0;
        li{
          a{
            border-right: 1px solid #d69705 ;
            border-bottom: 1px solid #d69705;
            width: 230px;
            padding: 10px 10px;
            font-family:$f_light;
            &:hover,&.selected{
              background-color:#0a97e2 !important;
              color: #fff;
            }
          }
          &.current-menu-item{
            a{
              background-color: #0a97e2 !important;
            }
          }
        }
      }
    }
  }
}